logs/
.env
config/gcp-key.json
__pycache__/
*.pyc
.DS_Store
dbt/target/
dbt/dbt_packages/
data/
.venv/
*.duckdb
dbt/logs/
dbt/earthquake_dbt/target/
dbt/earthquake_dbt/dbt_packages/
dbt/earthquake_dbt/logs/